//Emmett Lynch - D001853366

#ctx
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#infobar
{
    font-family: 'Spirax', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 20%;
    border: 1px solid black;
    padding: 10px;
    background-color:blue;
    color: white;
}

#demo
{
    color:orange;
}

#feedback
{
    color: orange;
}

#hs
{
    color: orange;
}




body
{
    background-image: url("images/web_backdrop.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

